#container{
    display: flex;



    
}
#icon{
    margin: auto 20px;
    
}
#TrashPen{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;


    gap: 0px;
    
    margin-right: 30px;


}
h2{
    width: 100%;
    
}
#iten{
    
    border-radius: 10px;
    
    margin-bottom: 15px;

    border: 1px solid ;

    background-color: rgb(240, 240, 240);
}
#quantidade{
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: 20px;

    

}
#quantidade > button{
    border-radius: 4px;
    border: none;
    

    background-color: rgb(204, 204, 204);
    width: 20px;
    height: 20px;
}
#quantidade > button:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}
.butao{
    border: none;
    margin-left: 10px;
}
.butao:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}
